RewriteEngine on
RewriteBase /treasure_hunt/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|images|install|css|robots|captcha\.txt)
RewriteRule .* index.php/$0 [PT,L]

Options -Indexes
